.container {
  background-color: white;
  min-height: 188px;
  min-width: 343px;
  margin: 15px;
  border: 1px solid rgba(235, 235, 236, 1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.corner_wrapper {
  display: flex;
  flex-direction: row;
  width: 343px;
  height: 40px;
  justify-content: flex-end;
}
.empty_wrapper {
  width: 343px;
  height: 40px;
}
.corner_button {
  position: relative;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.text_wrapper {
  position: relative;
}
.question_text {
  position: relative;
  bottom: 0;
  color: #161616;
  font-size: 12px;
  font-family: Lexend;
  max-width: 300px;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0 15px 0;
}
.action_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
  margin: 10px 5px 5px 0px;
}
.left_button {
  width: 110px;
  height: 38px;
  padding: 10px, 12px, 10px, 12px;
  border: none;
  border-radius: 22px;
  background-color: #ffffff;
  line-height: 18px;
  word-wrap: break-word;
  font-weight: 500;
  cursor: pointer;
}
.right_button {
  width: 110px;
  height: 38px;
  border: none;
  border-radius: 22px;
  background-color: #161616;
  color: white;
  line-height: 18px;
  word-wrap: break-word;
  font-weight: 500;
  cursor: pointer;
}
