.input_text {
  display: block;
  color: #161616;
  font-size: 16px;
  width: 315px;
  height: 40px;
  border: 0.5px #ebebec solid;
  font-weight: 500;
  resize: none;
  overflow: hidden;

  line-height: 20px;
  overflow-wrap: break-word;
  padding: 12px 10px 10px 10px;
}
.input_text:focus {
  outline: none;
}
